/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------start editing here------------*/

html{
	scroll-behavior: smooth;
}

body {
	background-color: white;
	height: 100%;
}

/*---------typefaces---------------------------*/

@font-face {
	font-family: 'Gabarito';
	src: url('Gabarito/Gabarito-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Urban Shadow Sans Serif';
	src: url('urban_shadow_sans_serif/Urban Shadow Sans Serif.otf');
}

/*-----------header----------------*/

header{
	width: 96%;
	height: 125px;
	background-color: #D2BD96;
	color: white;
	padding: 2%;
	border-bottom: 5px solid black;
}

#logo{
	float: left;
	margin-right: 5%;
	z-index: 20;
	
}

#siteName{
	float: right
	
}

#blankSpaceForHome {
	height: 100px;
	background-color: #AC9362;
	margin-bottom: 20px;
}

#homepageContent1{
	width: 100%;
	background-color: white;
}


subsection{
	width: 100%;
	background-color: #AC9362;
}

#photowithSubtext{
	display: flex;
	justify-content: center;
}

#photowithSubtext img{
	margin: 75px;
	float: left;
}

#introText{
	float: right;
}

#gotoAboutMe{
	background-color: #afdbec;
	height: 40px;
	width: 250px;
	position: relative;
	transform: translate(-115px, 350px);
	border: 4px solid black;
	border-radius: 10px;
}

#gotoAboutMe a{
	justify-content: center;
	font-weight: 1000;
	text-align: center;
	font-family: Gabarito, sans-serif;
	font-size: 24px;
	vertical-align: middle;
	padding: 10px;
	display: flex;
	text-decoration: none;
	color: black;
	transform: translateY(-2px);
}

#gotoAboutMe a:hover{
	vertical-align: middle;
	align-items: center;
	font-size: 30px;
	transform: translateY(-5px);
	transition: font-size .5s, transform .5s;
}

#gotoAboutMe a:visited{
	color: black;
}

#introText h1{
	margin-bottom: 30px;
	margin-top: 50px;
}

#tableForm{
	margin-top: 1000px;
}


#mostrecentProject{
	margin-top: 70px;
	margin-bottom: 150px;
	margin-left: 100px;
	background-color: white;
	float: left;
	width: 600px;
	height: 500px;
	border: 4px solid black;
	border-radius: 10px;
	
}

#artSpotlight{
	margin-top: 70px;
	margin-bottom: 150px;
	margin-right: 100px;
	background-color: white;
	float: right;
	width: 600px;
	height: 500px;
	border: 4px solid black;
	border-radius: 10px;

}

#mostrecentProject h2{
	margin-top: 10px;
	text-align: center;
	color: black;
}

#spaceforImage1 {
	background-color: silver;
	width: 70%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 4px solid black;
}

#spaceforImage2 {
	background-color: silver;
	width: 70%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 4px solid black;
}

#mrpText {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#artSpotlight h2{
	margin-top: 10px;
	text-align: center;
	color: black;
}

#homepageContent2{
	background-color: #AC9362;
	width: 100%;
	height: 750px;
}

#footer{
	width: 100%;
	padding: 0% auto;
	display: flex;
	justify-content: center;
	
}

#logoandname{
	width: 100%;
	padding: 0% auto;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}





footer{
	position: fixed;
	margin-left: 10%;
	margin-right: 10%;
	left: 0;
	bottom: 15px;
	width: 80%;
	height: 75px;
	background-color: white;
	color: white;
	text-align: center;
	border: 4px solid black;
	border-radius: 10px 10px 10px 10px;
	padding-top: 10px;
}


h1, h2, h3, h4, h5, h6 {
	font-family: Gabarito, Helvetica, sans-serif;
	font-size: 100px;
	text-decoration: none;
	text-transform: none;
	font-weight: semi-condensed;
	
}


h1 {
	font-size: 600%;
	font-family: Urban Shadow Sans Serif, Verdana, sans-serif;
	text-transform: none;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

h2 {
	font-family: Urban Shadow Sans Serif, Verdana, sans-serif;
	font-size: 300%;
	text-transform: uppercase
}

h3, h5 {
	font-size: 150%;
	text-decoration: underline;
	font-family: "Oswald", Verdana, sans-serif;
	font-weight: 800;
}

h4 {
	font-size: 140%;
}

h6 {
	font-size: 100%;	
}

p {
	font-family: Gabarito, sans-serif;
	font-size: 16px;
}

#navigation{
	margin-top: 85px;
}

#socialLinks{
	float: left;
	display: flex;
	margin-right: 150px;
}

#footer p{
	color: black;
	margin-top: 20px;
	margin-right: 15px;
	margin-left: 5px;
}

#topofpageButton{
	float: right;
	border-radius: 50px;
	justify-content: center;
	background-color: #afdbec;
}

#followMePrompt {
	height: 50px;
	width: 125px;
	display: flex;
	align-items: center;
	background-color: #E9D3C0;
	position: absolute;
	z-index: 20;
	justify-content: center;
	text-align: center;
	padding: 0px 10px 0px 10px;
	transform: translate(-50px,-50px) rotate(-5deg);
	border: 4px solid black;
	border-radius: 5px;
}

#followMePrompt p{
	font-size: 25px;
	color: black;
	font-weight: 500;
}

nav{
	transform: translateY(-110px);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
}

nav ul{
	
	list-style-type: none;
	background-color: #DEDBC1;
	height: 50px;
	border: 5px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	border-radius: 10px;
	
}

nav ul li {
	text-align: center;
}

nav ul li a {
	color: gray;
	font-family: Urban Shadow Sans Serif, sans-serif;
	font-size: 30px;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
	text-align: center;
	vertical-align: middle;
	transition: background-color 1s, border 0.5s;

}

nav ul li a:hover{
	color: #F5F2D5;
	text-decoration: none;
	background-color: #AC9362;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	padding-top: 20px;
	border: 5px solid black;
}

nav ul li{
	display: inline-block;
}


/*---------------------portfolio----------------------*/

#portfolioLabel{
	width: 30%;
	background-color: #E9D3C0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 6px solid black;
	padding-top: 15px;
	transform: translateY(-50px);
}

#portfolioSection{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 500px;
	margin-top: 15px;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 4px solid black;
	margin-bottom: 165px;
}


#photographySec {
	flex: 1 1 50%;
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	padding-top: 15px;
	border: 3px solid black;

}

#videographySec {
	flex: 1 1 50%;
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	padding-top: 15px;
	border: 3px solid black;
}

#graphicdesignSec {
	flex: 1 1 50%;
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	padding-top: 15px;
	border: 3px solid black;
}

#extraSec {
	flex: 1 1 50%;
	box-sizing: border-box;
	width: 50%;
	height: 50%;
	padding-top: 15px;
	border: 3px solid black;
	
}


/*---------------contactpage----------------*/

#contactLabel{
	width: 30%;
	background-color: #E9D3C0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 6px solid black;
	padding-top: 15px;
	transform: translateY(-50px);
}



#thecontactForm p{
	font-size: 24px;
	padding: 15px;
}

#thecontactForm input{
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#thecontactForm {
	margin-left: 100px;
}

#contactformText {
	width: 40%;
	height: 500px;
	border: 6px solid black;
	border-radius: 10px;
	margin-top: 30px;
}

#nameText{
	margin-left: 30px;
}

#nameText input{
	float: right;
	width: 300px;
	border: 4px solid black;
	margin-right: 30px;
	height: 25px;
}

#emailText{
	margin-left: 30px;
}

#emailText input{
	float: right;
	width: 300px;
	border: 4px solid black;
	margin-right: 30px;
	height: 25px;
}

#subjectText{
	margin-left: 30px;
}

#subjectText input{
	float: right;
	width: 300px;
	border: 4px solid black;
	margin-right: 30px;
	height: 25px;
}

#commentText{
	margin-left: 30px;
}


textarea{
	resize: none;
	overflow: auto;
	height: 200px;
	width: 300px;
	float: right;
	border: 4px solid black;
	margin-right: 30px;
	
}

#submitButton{
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border: 4px solid black;
	font-size: 24px;
	font-weight: 600;
	background-color: #afdbec;
	display: flex;
	transform: translateY(35px);
}

#contactmainText{
	float: right;
	text-align: right;
	transform: translateY(-400px);
	margin-right: 100px;
}

#contactmainText h4{
	font-size: 60px;
	font-weight: 600;
	width: 600px;
	font-weight: 800;
	margin-bottom: 50px;
}

#contactmainText h6{
	color: #AC9362;
	font-size: 24px;
	transform: skewX(-10deg);
}


/*-----------------aboutmepage-----------------*/

#aboutMain {
	width: 85%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid black;
	border-radius: 10px;
	margin-bottom: 50px;
}

#aboutmeLabel{
	width: 30%;
	background-color: #E9D3C0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 6px solid black;
	padding-top: 15px;
	transform: translateY(-50px);
}

#photosofmeSection {
	font-size: 40px;
	margin-left: 50px;
	margin-top: 20px;
	height: 250px;
	width: 500px;
	border: 4px solid black;
	float: left;
}

#introBio h4{
	font-size: 50px;
	font-weight: 800;
	margin-right: 100px;
	margin-top: 50px;
	float: right;
}

#resumeSection {
	width: 85%;
	height: 500px;
	background-color: #AC9362;
	border: 4px solid black;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 175px;
}

#mainBio {
	display: flex;
	flex-wrap: wrap;
	text-align: right;
	width: 80%;

}

#resumeLabel {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	border: 4px solid black;
	background-color: #D2BD96;
	width: 20%;
	border-radius: 10px;
	margin-top: 15px;
	vertical-align: middle;
}

#resumeLabel h1{
	font-size: 75px;
}

#resumeView{
	width: 90%; /* Set a desired width */
    height: 325px; /* Set a desired height */
	margin-top: 15px;
	border: 4px solid black;
	border-radius: 10px;
}








/*----other-----*/


.scroll-box {
    padding: 10px; /* Optional: Add padding inside the box */
    overflow: auto; /* This is the key property for scrolling */
	margin-left: auto;
	margin-right: auto;
}

.fix {
	clear: both;
	overflow: auto;
	width: 100%;
}

table{
	background-color: white;
	color: black;
	border: 3px solid black;
}

td {
	padding: 7px 10px 10px 10px;
	font-family: Gabarito, sans-serif
}

th{
	padding: 7px 10px 10px 10px;
	font-family: Gabarito, sans-serif
}


form{
	background-color: white;
	color: black;
	padding: 10px;
	border: 3px solid black;
}

input{
	font-family: Gabarito, sans-serif;
	
}
img.imgSizeA{
	width: 50px;
	height: auto;
	border: 2px solid black;
}

img.imgSizeB{
	width: auto;
	height: 300px;
	border: 4px solid black;
	border-radius: 10px;
}



